@mixin center-alignment($size: null, $font-size: $size * .75, $padding: 0) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding;
    @if ($size) {
        @include size($size);
        font-size: $font-size;
        line-height: 1;
        text-align: center;
    }
}