<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="./bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">../classes</directory>
    </include>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="nodb">
      <file>src/AntispamTest.php</file>
      <file>src/datatypes/MediaDatatypeStrategyTraitTest.php</file>
      <file>src/datatypes/MaterialDatatypeStrategyTest.php</file>
      <file>src/semantic/FieldTest.php</file>
      <file>src/views/renderers/FormRendererTest.php</file>
      <file>src/views/renderers/formfield/FormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/TextFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/TextAreaFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/HtmlAreaFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/NumberFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/PasswordFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/FileFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/ImageFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/HiddenFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/SelectFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/CheckboxFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/RadioFormFieldRendererTest.php</file>
      <file>src/views/renderers/notification/NotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/CheckboxNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/ColorNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/DateNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/DateTimeNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/EmailNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/FileNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/HtmlAreaNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/ImageNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/MaterialNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/TelNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/URLNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/FormRendererTest.php</file>
      <file>src/views/renderers/formfield/FormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/TextFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/TextAreaFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/HtmlAreaFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/NumberFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/PasswordFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/FileFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/ImageFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/HiddenFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/SelectFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/CheckboxFormFieldRendererTest.php</file>
      <file>src/views/renderers/formfield/RadioFormFieldRendererTest.php</file>
      <file>src/views/renderers/notification/NotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/CheckboxNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/ColorNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/DateNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/DateTimeNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/EmailNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/FileNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/HtmlAreaNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/ImageNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/MaterialNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/TelNotificationFieldRendererTest.php</file>
      <file>src/views/renderers/notification/URLNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="VisibleRecursiveCache">
      <file>src/VisibleRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="MenuRecursiveCache">
      <file>src/MenuRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="PageRecursiveCache">
      <file>src/PageRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="CacheInterface">
      <file>src/interfaces/CacheInterfaceTest.php</file>
    </testsuite>
    <testsuite name="FormInterface">
      <file>src/interfaces/FormInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MaterialInterface">
      <file>src/interfaces/MaterialInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MenuInterface">
      <file>src/interfaces/MenuInterfaceTest.php</file>
    </testsuite>
    <testsuite name="SearchInterface">
      <file>src/interfaces/SearchInterfaceTest.php</file>
    </testsuite>
    <testsuite name="Menu">
      <file>src/semantic/MenuTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
