<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  colors="true" 
  bootstrap="./bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
>
  <coverage>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../classes</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Antispam">
      <file>src/AntispamTest.php</file>
    </testsuite>
    <testsuite name="CodeTrait">
      <file>src/CodeTraitTest.php</file>
    </testsuite>
    <testsuite name="MaterialDatatypeStrategy">
      <file>src/datatypes/MaterialDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="MediaDatatypeStrategyTrait">
      <file>src/datatypes/MediaDatatypeStrategyTraitTest.php</file>
    </testsuite>
    <testsuite name="EditBlockForm">
      <file>src/forms-n-tables/EditBlockFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockFormForm">
      <file>src/forms-n-tables/EditBlockFormFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockHTMLForm">
      <file>src/forms-n-tables/EditBlockHTMLFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockMaterialForm">
      <file>src/forms-n-tables/EditBlockMaterialFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockMenuForm">
      <file>src/forms-n-tables/EditBlockMenuFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockPHPForm">
      <file>src/forms-n-tables/EditBlockPHPFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockSearchForm">
      <file>src/forms-n-tables/EditBlockSearchFormTest.php</file>
    </testsuite>
    <testsuite name="EditFieldForm">
      <file>src/forms-n-tables/EditFieldFormTest.php</file>
    </testsuite>
    <testsuite name="EditFormForm">
      <file>src/forms-n-tables/EditFormFormTest.php</file>
    </testsuite>
    <testsuite name="EditPageForm">
      <file>src/forms-n-tables/EditPageFormTest.php</file>
    </testsuite>
    <testsuite name="EditTemplateForm">
      <file>src/forms-n-tables/EditTemplateFormTest.php</file>
    </testsuite>
    <testsuite name="InterfaceField">
      <file>src/forms-n-tables/InterfaceFieldTest.php</file>
    </testsuite>
    <testsuite name="SnippetField">
      <file>src/forms-n-tables/SnippetFieldTest.php</file>
    </testsuite>
    <testsuite name="WidgetField">
      <file>src/forms-n-tables/WidgetFieldTest.php</file>
    </testsuite>
    <testsuite name="ImportByURNTrait">
      <file>src/ImportByURNTraitTest.php</file>
    </testsuite>
    <testsuite name="DzenVideo">
      <file>src/hosted-videos/DzenVideoTest.php</file>
    </testsuite>
    <testsuite name="HostedVideo">
      <file>src/hosted-videos/HostedVideoTest.php</file>
    </testsuite>
    <testsuite name="RuTubeVideo">
      <file>src/hosted-videos/RuTubeVideoTest.php</file>
    </testsuite>
    <testsuite name="YouTubeVideo">
      <file>src/hosted-videos/YouTubeVideoTest.php</file>
    </testsuite>
    <testsuite name="VKVideo">
      <file>src/hosted-videos/VKVideoTest.php</file>
    </testsuite>
    <testsuite name="BlockInterface">
      <file>src/interfaces/BlockInterfaceTest.php</file>
    </testsuite>
    <testsuite name="CacheInterface">
      <file>src/interfaces/CacheInterfaceTest.php</file>
    </testsuite>
    <testsuite name="FilesProcessorInterface">
      <file>src/interfaces/FilesProcessorInterfaceTest.php</file>
    </testsuite>
    <testsuite name="FormInterface">
      <file>src/interfaces/FormInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MaterialInterface">
      <file>src/interfaces/MaterialInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MenuInterface">
      <file>src/interfaces/MenuInterfaceTest.php</file>
    </testsuite>
    <testsuite name="SearchInterface">
      <file>src/interfaces/SearchInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MenuRecursiveCache">
      <file>src/MenuRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="PageRecursiveCache">
      <file>src/PageRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="Block_Form">
      <file>src/semantic/BlockFormTest.php</file>
    </testsuite>
    <testsuite name="Block_HTML">
      <file>src/semantic/BlockHTMLTest.php</file>
    </testsuite>
    <testsuite name="Block_Material">
      <file>src/semantic/BlockMaterialTest.php</file>
    </testsuite>
    <testsuite name="Block_Menu">
      <file>src/semantic/BlockMenuTest.php</file>
    </testsuite>
    <testsuite name="Block_PHP">
      <file>src/semantic/BlockPHPTest.php</file>
    </testsuite>
    <testsuite name="Block_Search">
      <file>src/semantic/BlockSearchTest.php</file>
    </testsuite>
    <testsuite name="Block">
      <file>src/semantic/BlockTest.php</file>
    </testsuite>
    <testsuite name="Field">
      <file>src/semantic/FieldTest.php</file>
    </testsuite>
    <testsuite name="Form">
      <file>src/semantic/FormTest.php</file>
    </testsuite>
    <testsuite name="Form_Field">
      <file>src/semantic/FormFieldTest.php</file>
    </testsuite>
    <testsuite name="Material_Field">
      <file>src/semantic/MaterialFieldTest.php</file>
    </testsuite>
    <testsuite name="Menu">
      <file>src/semantic/MenuTest.php</file>
    </testsuite>
    <testsuite name="Page_Field">
      <file>src/semantic/PageFieldTest.php</file>
    </testsuite>
    <testsuite name="Snippet">
      <file>src/semantic/SnippetTest.php</file>
    </testsuite>
    <testsuite name="Template">
      <file>src/semantic/TemplateTest.php</file>
    </testsuite>
    <testsuite name="User_Field">
      <file>src/semantic/UserFieldTest.php</file>
    </testsuite>
    <testsuite name="Updater">
      <file>src/UpdaterTest.php</file>
    </testsuite>
    <testsuite name="FieldArrayFormatter">
      <file>src/views/renderers/FieldArrayFormatterTest.php</file>
    </testsuite>
    <testsuite name="FormArrayFormatter">
      <file>src/views/renderers/FormArrayFormatterTest.php</file>
    </testsuite>
    <testsuite name="CheckboxFormFieldRenderer">
      <file>src/views/renderers/formfield/CheckboxFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="FileFormFieldRenderer">
      <file>src/views/renderers/formfield/FileFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="FormFieldRenderer">
      <file>src/views/renderers/formfield/FormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="HiddenFormFieldRenderer">
      <file>src/views/renderers/formfield/HiddenFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="HtmlAreaFormFieldRenderer">
      <file>src/views/renderers/formfield/HtmlAreaFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="ImageFormFieldRenderer">
      <file>src/views/renderers/formfield/ImageFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="NumberFormFieldRenderer">
      <file>src/views/renderers/formfield/NumberFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="PasswordFormFieldRenderer">
      <file>src/views/renderers/formfield/PasswordFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="RadioFormFieldRenderer">
      <file>src/views/renderers/formfield/RadioFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="SelectFormFieldRenderer">
      <file>src/views/renderers/formfield/SelectFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="TextAreaFormFieldRenderer">
      <file>src/views/renderers/formfield/TextAreaFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="TextFormFieldRenderer">
      <file>src/views/renderers/formfield/TextFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="FormRenderer">
      <file>src/views/renderers/FormRendererTest.php</file>
    </testsuite>
    <testsuite name="CheckboxNotificationFieldRenderer">
      <file>src/views/renderers/notification/CheckboxNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="ColorNotificationFieldRenderer">
      <file>src/views/renderers/notification/ColorNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="DateNotificationFieldRenderer">
      <file>src/views/renderers/notification/DateNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="DateTimeNotificationFieldRenderer">
      <file>src/views/renderers/notification/DateTimeNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="EmailNotificationFieldRenderer">
      <file>src/views/renderers/notification/EmailNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="FileNotificationFieldRenderer">
      <file>src/views/renderers/notification/FileNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="HtmlAreaNotificationFieldRenderer">
      <file>src/views/renderers/notification/HtmlAreaNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="ImageNotificationFieldRenderer">
      <file>src/views/renderers/notification/ImageNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="MaterialNotificationFieldRenderer">
      <file>src/views/renderers/notification/MaterialNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="NotificationFieldRenderer">
      <file>src/views/renderers/notification/NotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="TelNotificationFieldRenderer">
      <file>src/views/renderers/notification/TelNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="URLNotificationFieldRenderer">
      <file>src/views/renderers/notification/URLNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="VisibleRecursiveCache">
      <file>src/VisibleRecursiveCacheTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
