<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="./bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">../classes</directory>
    </include>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="nodb">
      <file>src/semantic/FieldTest.php</file>
    </testsuite>
    <testsuite name="FormRenderer">
      <file>src/views/renderers/FormRendererTest.php</file>
    </testsuite>
    <testsuite name="FormFieldRenderer">
      <file>src/views/renderers/formfield/FormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="TextFormFieldRenderer">
      <file>src/views/renderers/formfield/TextFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="TextAreaFormFieldRenderer">
      <file>src/views/renderers/formfield/TextAreaFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="HtmlAreaFormFieldRenderer">
      <file>src/views/renderers/formfield/HtmlAreaFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="NumberFormFieldRenderer">
      <file>src/views/renderers/formfield/NumberFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="PasswordFormFieldRenderer">
      <file>src/views/renderers/formfield/PasswordFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="FileFormFieldRenderer">
      <file>src/views/renderers/formfield/FileFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="ImageFormFieldRenderer">
      <file>src/views/renderers/formfield/ImageFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="HiddenFormFieldRenderer">
      <file>src/views/renderers/formfield/HiddenFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="SelectFormFieldRenderer">
      <file>src/views/renderers/formfield/SelectFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="CheckboxFormFieldRenderer">
      <file>src/views/renderers/formfield/CheckboxFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="RadioFormFieldRenderer">
      <file>src/views/renderers/formfield/RadioFormFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="NotificationFieldRenderer">
      <file>src/views/renderers/notification/NotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="CheckboxNotificationFieldRenderer">
      <file>src/views/renderers/notification/CheckboxNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="ColorNotificationFieldRenderer">
      <file>src/views/renderers/notification/ColorNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="DateNotificationFieldRenderer">
      <file>src/views/renderers/notification/DateNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="DateTimeNotificationFieldRenderer">
      <file>src/views/renderers/notification/DateTimeNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="EmailNotificationFieldRenderer">
      <file>src/views/renderers/notification/EmailNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="FileNotificationFieldRenderer">
      <file>src/views/renderers/notification/FileNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="HtmlAreaNotificationFieldRenderer">
      <file>src/views/renderers/notification/HtmlAreaNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="ImageNotificationFieldRenderer">
      <file>src/views/renderers/notification/ImageNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="MaterialNotificationFieldRenderer">
      <file>src/views/renderers/notification/MaterialNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="TelNotificationFieldRenderer">
      <file>src/views/renderers/notification/TelNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="URLNotificationFieldRenderer">
      <file>src/views/renderers/notification/URLNotificationFieldRendererTest.php</file>
    </testsuite>
    <testsuite name="Antispam">
      <file>src/AntispamTest.php</file>
    </testsuite>
    <testsuite name="MaterialDatatypeStrategy">
      <file>src/datatypes/MaterialDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="MediaDatatypeStrategyTrait">
      <file>src/datatypes/MediaDatatypeStrategyTraitTest.php</file>
    </testsuite>
    
    <testsuite name="VisibleRecursiveCache">
      <file>src/VisibleRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="MenuRecursiveCache">
      <file>src/MenuRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="PageRecursiveCache">
      <file>src/PageRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="CacheInterface">
      <file>src/interfaces/CacheInterfaceTest.php</file>
    </testsuite>
    <testsuite name="FormInterface">
      <file>src/interfaces/FormInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MaterialInterface">
      <file>src/interfaces/MaterialInterfaceTest.php</file>
    </testsuite>
    <testsuite name="MenuInterface">
      <file>src/interfaces/MenuInterfaceTest.php</file>
    </testsuite>
    <testsuite name="SearchInterface">
      <file>src/interfaces/SearchInterfaceTest.php</file>
    </testsuite>
    <testsuite name="Menu">
      <file>src/semantic/MenuTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
