.cms-inpvis { font-style: italic; }
.cms-template { 
  position: relative; min-width: 200px; min-height: 200px;
  border: 1px solid #ccc; background-repeat: no-repeat; 
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 5px 5px 15px rgba(0,0,0,0.5); 
 
}
.cms-location.ui-draggable { cursor: pointer;  }
.cms-location { 
    min-height: 48px; min-width: 140px; padding: 3px; position: absolute; 
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  
    border: 1px dashed #ccc; background: rgba(255, 255, 255, 0.9);
}
.cms-location > .btn-group > .btn { line-height: 14px; padding: 0 4px; }
.cms-location h6 { margin: 0; padding: 0 0 0 3px; min-height: 20px; color: #888; }
.cms-block { display: block; position: relative; padding: 0; min-height: 24px; margin-bottom: 3px; box-shadow: 2px 2px 2px rgba(0,0,0,0.5); }
.cms-block > .cms-block-name { padding: 6px; font-size: 11px; line-height: 12px; height: 12px; display: block; width: 100%; overflow: hidden; }
.cms-block > .dropdown-toggle { display: table-cell; min-width: 24px; text-align: center; }
.cms-block > .cms-block-name + .dropdown-toggle { border-left: 1px solid #ddd; }
.cms-block > .dropdown-toggle span.caret { position: relative; top: 8px; }
.cms-block > a { color: #000; }
.cms-block > a:hover { text-decoration: none; }

.cms-block { background-color: #eee; }
.cms-block > a:hover { background-color: rgba(255, 255, 255, 0.25); }

.cms-block-html { background-color: #9ff; }
.cms-block-php { background-color: #f99; }
.cms-block-material { background-color: #9f9; }
.cms-block-menu { background-color: #ff9; }
.cms-block-form { background-color: #9cf; }
.cms-block-search { background-color: #c9f; }
.cms-block-module { background-color: #fc9; }

.cms-legend { max-width: 604px; }

/*.cms-block .btn { display: table-cell; }
.cms-block .btn:first-child { width: 100%; text-align: left; }
.cms-block.btn-group + .cms-block.btn-group { margin: 3px 0 0; }*/
.cms-location.cms-horizontal .cms-block { display: inline-block; width: auto; margin-right: 3px; min-width: 20px; }

div.CodeMirror { height: 310px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; }
.cms-field_repo { display: none; }


.cms-file { background: #eee; max-width: 270px; padding: 5px; margin-top: 5px; border-radius: 5px; behavior: url("system/public/PIE.htc");  }
.cms-file:first-child { margin-bottom: 0; }
.cms-file-internal { overflow: hidden; vertical-align: top; }
.cms-file input[type="file"] { display: block; }
.cms-file input[type="text"], .cms-file textarea { display: block; width: 95% }
.cms-file-path { margin: 0; }
.cms-file-path img { max-width: 64px; max-height: 64px; margin: 0 3px 3px 0; }
.cms-filecard { max-width: 230px; overflow: hidden; clear: right; }

.cms-material-field-container {
    position: relative;
}

.cms-material-field-container .close {
    float: none;
}

.cms-material-field-autotext {
    display block; 
    position: absolute;
    box-sizing: content-box;
    border: 1px solid #eee;
    position absolute;
    border-radius: 5px;
    top: 25px;
    left: 0;
    max-height: 200px;
    z-index: 999;
    overflow: hidden;
    overflow-y: scroll;
    background: white;
    margin: 0;
    padding: 0;
}

.cms-material-field-autotext li {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}

.cms-material-field-autotext li:last-child {
    border-bottom: none;
}

.cms-material-field-autotext li a {
    display: block;
    padding: 10px;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.cms-material-field-autotext li img {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    max-height: 32px;
    max-width: 32px;
}

.cms-material-field-autotext__description {
    display: block;
    font-size: 10px;
    color: silver;
}

.cms-material-field-autotext li a:hover {
    background: #eee;
}
