.cms-invis { color: silver; }
.cms-inpvis { font-style: italic; }


.cms-field_repo { display: none; }

.cms-rebuild-cache { display: none; }
.cms-rebuild-cache__possible-statuses { display: none; }